<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <h2>Edit <%= @pastel.name %></h2>
      <%= render 'shared/pastel_form' %>
    </div>
  </div>
</div>
