// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
// $yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

//Pastel color schema
$gray: #2C3540; //nav-bar
$green: #025E73; //primary button
$white: #F2F2F2; //bg
$yellow: #F2B33D; //secondary button
$brown: #A07358; //warnning
$black: #323232; //text
