.main-container {
  display: flex;
  // justify-content: space-between;
}

.card-section {
  padding: 0 3rem;
}

.text-center {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#map {
  height: calc(100vh - 54px);
  width: 500px;
  position: sticky;
  top: 54px;
}

