.btn-round {
  width: 40px;
  border-radius: 50%;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-review {
  position: absolute;
  top: 200px;
  right: -18px;
  z-index: 80;
  font-size: 15px;
}
