
.navbar-lewagon {
  justify-content: space-between;
  // background: #D9C2AD; //old color;
  background: $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

$transitionSpeed: 0.8s;

.fix {
    // padding: 0;
    background-color: $gray;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 54px;
    z-index: 100;
    transition: $transitionSpeed;
}



#query {
  width: 350px;
  display: inline-block;
}


