#user_remember_me {
  right: 50px;
}


.img__text h2 {
  color: white;
}


.img__text p {
  color: white;
  font-size: 17px;
}


.alert-dismissible {
  font-weight: bold;
  font-size: 22px;
}


.submit {
  border-radius: 50px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
}


.submit .btn {
  border-bottom: 0;
}
